build-ShanMuChat*
Debug
x64
.vs
ShanMuChat.pro.user
node_modules
config.ini
config.json
/ShanMuChat/Server/GateServer/GateServer.sln
/ShanMuChat/Server/GateServer/GateServer.vcxproj
/ShanMuChat/Server/GateServer/GateServer.vcxproj.filters
/ShanMuChat/Server/GateServer/GateServer.vcxproj.user
ui_*.h

build-*/
Release/
x86/
*.pro.user
*.pro.user.*
.autosave
Makefile*
*.qmake.stash
moc_*
*.moc
ui_*.h
qrc_*.cpp
*.qrc.d
*.qmlc
*.jsc
*.ilk
*.pdb
*.exp
*.lib
*.obj
*.rc
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.opensdf
*.sdf
out/
bin/
obj/
*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib
*.manifest
*.cache
config.ini
config.json
*.local
*.env